{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Teddy Otieno</title>
	<link href="{% static '/css/main.css' %}" rel="stylesheet" type="text/css" >
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/picture1.png' %}">
					<br>
					<h4>Hi I'm Ted!</h4>
					<p>I love coding, doing research and collaborating</p>
				</div>
			</div>
			<div class="col-md-9">
				<div class="card card-body">
					<h4> My First Front-End BootCamp</h4>
				<br>
				<p>To give optimum contribution towards the achievement of mission, vision, objectives and goals of the organisation that I work for by sharing and learning new skills, knowledge, and experiences.</p>
				
				<p>Excellent networking abilities 
				Creating concepts and models and thinking through things- achievement driven
				Ability to communicate and interact effectively with all groups of people.
				Highly resilient and adapts quickly to new changes
				</p>

				<p>
				Product management including ordering, receiving, price changes and handling products and returns
				</p>
			</div>
			</div>
	</div>
	<br>
	<div class="row">
			<div class="col-md-6">
				<div class="card card-body">
					<h5> My Experiences as a Coder</h5>
					<br>
					<p> Data Structures and Algorithms Bootcamp</p>
					<p>Designed and built a population density scanner for the local demographics firm</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body">
					<h5>What I know</h5>
				<br>
				<p> Python, Django, HTML/CSS, C++, C#, Ruby, Flask, SQL</p>
				<p>Currently working on Java and PHP</p>
				</div>
			</div>
	</div>
	<br>
	<div class="row">
			<div class="col-md-3">
				<div class="card card-body">
					<h5>Referees</h5>
					<br>
					<p>Mr Micheal Njuguna - 0708915073</p>
					<p>Mr Phelps Attkinson - 0113456809</p>
				</div>
			</div>
			<div class="col-md-9">
				<div class="card card-body">
					<h5>Resume Summary</h5>
					<br>
					<p>Also, running time is affected by the hardware and software environment. In which the algorithm is implemented and executed. All other factors being equal, the running time of the same algorithm on the same input data will be smaller if the computer has, say, a much faster processor or if the implementation is done in a program compiled into native machine code instead of an interpreted implementation. </p>
				</div>
			</div>
	</div>
	<br>
</div>


</body>
</html>


